@import url('https://fonts.googleapis.com/css2?family=Inder&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Newsreader:opsz,wght@6..72,800&family=Poppins:wght@300;500;700;900&family=Quicksand&family=Sofia&family=Ubuntu&family=Wix+Madefor+Text:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600');

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background: linear-gradient(45deg, black, gray);
  height:fit-content;
  min-height: 100vh;
  width:100vw;
}

.intro{
    color: rgb(57, 55, 55);
    background: floralwhite;
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    font-weight: 800;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.54);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    gap:10px;
}

.word{
    text-transform: uppercase;
    letter-spacing: 5px;

}

.glow{
    text-shadow: 2px 2px 20px black;
    color: rgb(70, 64, 64);
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
  
  .cont{
    --angle: 0deg;
    width: 300px;
    height: 250px;
    border: 1.5rem solid;
    border-image: linear-gradient(var(--angle), #12c2e9, #c471ed, #f64f59) 1;
    animation: 5s rotate linear infinite;
    box-shadow:0 0 20px 5px black;
    margin:2vw;
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
  }
  
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  .cont > h1{
    --angle:90deg;
    color:white;
      background: -webkit-linear-gradient(var(--angle),blue 15%, purple 50%, red 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 5s rotate2 linear infinite alternate;
    text-align: center;
    
  }
  
  @keyframes rotate2 {
    to {
      --angle: 270deg;
    }
  }
  
  .grid{
    display:none;
    flex-wrap:wrap;
    column-gap:7vw;
  }

  .hide{
    display:none;
  }

  .content{
    background: white;
    --angle: 0deg;
    position: relative;
    border: 1.5rem solid;
    border-image: linear-gradient(var(--angle), #12c2e9, #c471ed, #f64f59) 1;
    animation: 5s rotate linear infinite;
    height: calc(100vh - 3rem);
    width: calc(100vw - 3rem);
    display:none;
  }

  .c1{
    display:none;
    place-items: center;
    height:100%;
    width:100%;
    overflow-y:scroll;
  }

.heading{
    font-size: clamp( 1.5rem, 1.3181818181818181rem + 0.9090909090909091vw, 2rem );
    font-weight: 800;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.54);
    color: rgb(57, 55, 55);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    word-spacing: 10px;
    text-align: center;
    margin: 20px 0;
    padding: 0;
    background: linear-gradient(30deg, pink, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

  .cross{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: black;
    z-index: 100;
  }

  p{
    font-family: 'Varela', sans-serif;
    font-size: clamp( 0.75rem, 0.5rem + 1.25vw, 1.5rem );
    line-height: 150%;
    color: black;
    text-indent: 1.3cm;
    text-align: justify;
    margin: 10px 20px;
}


pre.code{
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp( 0.75rem, 0.5rem + 1.25vw, 1.25rem );
    line-height: 170%;
    font-weight: 500;
    background: black;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    max-height: 40vh;
    overflow: scroll;
    outline: 4px solid rgba(255, 0, 0, 0.362);
    margin: 20px 0;
}

.plot{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
    height: fit-content;
    width: 100%;
    position: relative;
}

.plot_side{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    height: fit-content;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}
.plot_side table{
    flex-basis: 40%;
}
.plot_side img{
    width: 25%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}


.plot img, .plot video{
    width:75%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;

}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
    font-size: 1.2rem;
  }
  th, td {
    border: 1px solid #555; /* Dark border color */
    padding: 8px;
  }
  th:first-child {
    text-transform: uppercase; /* All caps for the first column */
  }
  tr:nth-child(even) {
    background-color: #444; /* Slightly lighter background color for even rows */
  }

  td.highlight {
    background-color: black;
    font-weight: bold;
  }

  .center{
    text-align: center;
    font-weight: 900;
  }

  table ul, table li{
    list-style-type: none;
  }

  ol{
    list-style-position: inside;
    font-family: 'Varela', sans-serif;
    font-size: clamp( 0.75rem, 0.5rem + 1.25vw, 1.5rem );
    line-height: 150%;
    color: black;
    text-indent: 1.3cm;
    text-align: justify;
    margin: 10px 20px;
  }

  ol li{
    margin: 10px 0;
  }

  .red{
    color: red;
  }